<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        <title>河狸家自动化运维平台(easyops)</title>
        <!-- CSS -->
        <link rel="stylesheet" href="css/login/reset.css">
        <link rel="stylesheet" href="css/login/supersized.css">
        <link rel="stylesheet" href="css/login/style.css">
    </head>

    <body>

        <div class="page-container">
            <img style="width: 100px; height: 40px;" src="img/logo.png"><h1>河狸家统一自动化运维平台(EasyOps)</h1>
            <form action="" method="post">
                <input type="text" name="username" class="username" placeholder="用户名">
                <input type="password" name="password" class="password" placeholder="密码">
                <button type="submit">提交</button>
                <div class="error"><span>+</span></div>
            </form>
        </div>
		
        <!-- Javascript -->
        <script src="js/login/jquery-1.8.2.min.js"></script>
        <script src="js/login/supersized.3.2.7.min.js"></script>
        <script src="js/login/supersized-init.js"></script>
        <script src="js/login/scripts.js"></script>

    </body>

</html>


