<script src="http://cdn.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>
<script src="http://code.highcharts.com/4.2.2/highcharts.js" type="text/javascript"></script>
<script src="http://code.highcharts.com/4.2.2/highcharts-3d.js" type="text/javascript"></script>
<script src="http://cdn.hcharts.cn/highcharts/modules/exporting.js"></script>
<script src="http://cdn.hcharts.cn/highmaps/highmaps.js"></script>
<script src="http://cdn.hcharts.cn/highcharts/modules/data.js"></script>
<script src="http://cdn.hcharts.cn/highcharts/modules/drilldown.js"></script>
<!--<script src="../js/cn-all-sar-taiwan.js"></script>-->
<div align="center" id="city_info"></div>
<div id="qps_total" style="min-width:400px;height:400px"></div>
<div id="city_pk" style="min-width:400px;height:400px"></div>
<script>


	setInterval(function() {
                        jQuery.ajax({
                            url: "cityInfo?city=${city}",
                            dataType: "json",
                            type: "GET",
                            success: function(data){
                            var html="<h1>${time}-${city}-总PV："+data.pv+" 总GMV："+data.gmv+" 下单总数："+data.orderNum+"</h1>"
                                $("#city_info").html(html);
                            },
                        });
                    },
                    1000);
                    
// 实时qps

jQuery(document).ready(function() {
    Highcharts.setOptions({
        global: {
            useUTC: false
        }
    });
    var chart;
    jQuery('#qps_total').highcharts({
        chart: {
            type: 'spline',
            animation: Highcharts.svg,
            marginRight: 10,
            events: {
                load: function() {
                    var series = this.series[0];
                    setInterval(function() {
                        jQuery.ajax({
                            url: "qps?city=${city}",
                            dataType: "json",
                            type: "GET",
                            success: function(data){
                                // 新的加入
                                series.addPoint([data['key'], data['data']], true, true);
                            },
                        });
                    },
                    1000);   
                }
            }
        },
        title: {
            text: '${city}${time}实时QPS'
        },
        xAxis: {
            categories: [],
        },
        yAxis: {
            title: {
                text: 'QPS'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            formatter: function() {
                return '<b>' + this.series.name + '</b>' + ':'+ this.y;
            }
        },
        legend: {
            enabled: false
        },
        exporting: {
            enabled: false
        },
        series: [{
            name: 'QPS',
            data: [#foreach($t in $!times)["$t", $timesPV.get($t)]#if($velocityCount!=$times.size()),#end#end]
        }]
    });
});


jQuery(function () {
    jQuery('#city_pk').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: '${time}城市数据PK'
        },
        xAxis: {
            categories: ['北京', '杭州', '上海', '广州', '深圳'],
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Population (millions)',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
            valueSuffix: ' millions'
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -40,
            y: 100,
            floating: true,
            borderWidth: 1,
            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
            shadow: true
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'PV',
            data: [133, 156, 947, 408, 6]
        }, {
            name: 'UV',
            data: [133, 156, 947, 408, 6]
        }, {
            name: 'GMV',
            data: [973, 914, 4054, 732, 34]
        },
        {
            name: '订单量',
            data: [973, 914, 4054, 732, 34]
        }]
    });
});
</script>
